@block tc-alert {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  display: block;
  min-height: 3.125rem;
  padding: .75rem 1.25rem;

  & a {
    color: inherit;
    font-weight: bold;
  }

  @modifier primary {
    background-color: color(var(--primary-color) lightness(90%));
    border-color: color(var(--primary-color) lightness(85%));
    color: color(var(--primary-color) blackness(40%));
  }

  @modifier secondary {
    background-color: color(var(--secondary-color) lightness(90%));
    border-color: color(var(--secondary-color) lightness(85%));
    color: color(var(--secondary-color) blackness(95%));
  }

  @modifier success {
    background-color: color(var(--success-color) lightness(90%));
    border-color: color(var(--success-color) lightness(85%));
    color: color(var(--success-color) blackness(40%));
  }

  @modifier danger {
    background-color: color(var(--danger-color) lightness(90%));
    border-color: color(var(--danger-color) lightness(85%));
    color: color(var(--danger-color) blackness(40%));
  }

  @modifier warning {
    background-color: color(var(--warning-color) lightness(90%));
    border-color: color(var(--warning-color) lightness(85%));
    color: color(var(--warning-color) blackness(40%));
  }

  @modifier info {
    background-color: color(var(--info-color) lightness(90%));
    border-color: color(var(--info-color) lightness(85%));
    color: color(var(--info-color) blackness(40%));
  }

  @modifier light {
    background-color: color(var(--light-color) lightness(98%));
    border-color: color(var(--light-color) lightness(95%));
    color: color(var(--light-color) blackness(85%));
  }

  @modifier dark {
    background-color: color(var(--dark-color) lightness(90%));
    border-color: color(var(--dark-color) lightness(85%));
    color: black;
  }

  @element close {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    opacity: .5;
    padding: .75rem 1.25rem;
    position: relative;
    right: -1.25rem;
    text-shadow: 0 1px 0 white;
    top: -.75rem;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }
}
