@block tc-row {
  display: flex;
  flex-wrap: wrap;

  @modifier gutters {
    margin-left: -1rem;
    margin-right: -1rem;

    & > * {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @modifier align-items-start {
    align-items: flex-start !important;
  }

  @modifier align-items-center {
    align-items: center !important;
  }

  @modifier align-items-end {
    align-items: flex-end !important;
  }

  @modifier justify-content-start {
    justify-content: flex-start !important;
  }

  @modifier justify-content-center {
    justify-content: center !important;
  }

  @modifier justify-content-end {
    justify-content: flex-end !important;
  }

  @modifier justify-content-space-around {
    justify-content: space-around !important;
  }

  @modifier justify-content-space-between {
    justify-content: space-between !important;
  }
}
